repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
    - id: check-added-large-files
    - id: check-toml
    - id: check-yaml
    - id: debug-statements
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
    - id: isort
      additional_dependencies: [toml]
  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
    - id: black
      language_version: python3
      args: [--line-length=100]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.990
    hooks:
    - id: mypy
      additional_dependencies: [types-aiofiles]
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.117
    hooks:
    - id: ruff
