repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    - id: check-toml
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
  - repo: https://github.com/PyCQA/isort
    rev: 5.8.0
    hooks:
    - id: isort
      additional_dependencies: [toml]
  - repo: https://github.com/psf/black
    rev: 21.5b2
    hooks:
    - id: black
      language_version: python3
      args: [--line-length=100]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.901
    hooks:
    - id: mypy
      files: async_search_client/
  - repo: https://github.com/PyCQA/flake8
    rev: 3.9.2
    hooks:
    - id: flake8
      additional_dependencies: [flake8-print]
      args: ["--max-line-length=100", "--ignore=E203,E231,E501"]
