[tool.poetry]
name = "meilisearch-python-sdk"
version = "2.11.1"
description = "A Python client providing both async and sync support for the Meilisearch API"
authors = ["Paul Sanders <psanders1@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/sanders41/meilisearch-python-sdk"
homepage = "https://github.com/sanders41/meilisearch-python-sdk"
documentation = "https://meilisearch-python-sdk.paulsanders.dev"
keywords = ["meilisearch", "async", "python", "client", "sdk"]
classifiers=[
  "Development Status :: 5 - Production/Stable",
  "Intended Audience :: Developers",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: 3.12",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
  "Typing :: Typed",
]
include = ["meilisearch_python_sdk/py.typed"]

[tool.poetry.dependencies]
python = "^3.8"
aiofiles = ">=0.7"
camel-converter = ">=1.0.0"
httpx = ">=0.17"
pydantic = ">=1.8"
PyJWT = ">=2.3.0"

[tool.poetry.group.dev.dependencies]
mkdocs = ">=1.2.4"
mkdocs-material = ">=8.2.7"
mkdocstrings = {version = ">=0.19.0", extras = ["python"]}
mypy = ">=0.981"
pre-commit = ">=2.20.0"
pytest = ">=7.1.3"
pytest-cov = ">=4.0.0"
pytest-asyncio = ">=0.19.0"
pytest-xdist = ">=3.6.1"
ruff = ">=0.1.2"
tomli = {version = ">=2.0.1", python = "<3.11"}
types-aiofiles = ">=22.1.0"

[tool.poetry.group.benchmark.dependencies]
meilisearch = ">=0.26.0"
rich = ">=13.3.5"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov=meilisearch_python_sdk --cov-report term-missing --no-cov-on-fail"
asyncio_mode = "auto"
markers = ["no_parallel"]

[tool.mypy]
check_untyped_defs = true
disallow_untyped_defs = true
plugins = ["pydantic.mypy"]

[[tool.mypy.overrides]]
module = ["tests.*"]
disallow_untyped_defs = false

[[tool.mypy.overrides]]
module = ["aiocache.*"]
ignore_missing_imports = true

[tool.ruff]
line-length = 100
target-version = "py38"
fix = true

[tool.ruff.lint]
select=[
  "E",  # pycodestyle
  "B",  #
  "F",  # pyflakes
  "UP",  # pyupgrade
  "I001",  # unsorted-imports
  "T201",
  "T203",
  "ASYNC"  # flake8-async
]
ignore=[
  # Recommened ignores by ruff when using formatter
  "E501",
  "W191",
  "E111",
  "E114",
  "E117",
  "D206",
  "D300",
  "Q000",
  "Q001",
  "Q002",
  "Q003",
  "COM812",
  "COM819",
  "ISC001",
  "ISC002",
]
