[tool.poetry]
name = "async-search-client"
version = "0.7.0"
description = "A Python async client for the MeiliSearch API"
authors = ["Paul Sanders <psanders1@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/sanders41/async-search-client"
homepage = "https://github.com/sanders41/async-search-client"
documentation = "https://github.com/sanders41/async-search-client"
keywords = ["meilisearch", "async"]
classifiers=[
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "License :: OSI Approved :: MIT License",
  "Operating System :: OS Independent",
]
include = ["async_search_client/py.typed"]

[tool.poetry.dependencies]
python = "^3.7"
httpx = ">=0.17,<0.19"
pydantic = "^1.8"
aiofiles = "^0.7.0"
camel-converter = "^0.2.0"

[tool.poetry.dev-dependencies]
black = "^21.4b2"
flake8 = "^3.9.2"
isort = "^5.8.0"
mypy = "^0.812"
pre-commit = "^2.12.1"
pytest = "^6.2.3"
pytest-cov = "^2.12.0"
tox = "^3.23.1"
pytest-asyncio = "^0.15.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.black]
line-length = 100
include = '\.pyi?$'
exclude = '''
/(
    \.egg
  | \.git
  | \.hg
  | \.mypy_cache
  | \.nox
  | \.tox
  | \.venv
  | \venv
  | _build
  | buck-out
  | build
  | dist
  | setup.py
)/
'''

[tool.isort]
profile = "black"
line_length = 100
src_paths = ["async_search_client", "tests"]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "--cov=async_search_client"
