<footer class="md-footer">
  <div class="footer-buttons">
    <iframe
      src="https://github.com/sponsors/sanders41/button"
      title="Sponsor sanders41"
      class="footer-btn"
    ></iframe>

    <div class="bmc-wrapper">
      <script
        type="text/javascript"
        src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js"
        data-name="bmc-button"
        data-slug="sanders41"
        data-color="#87ceeb"
        data-emoji=""
        data-font="Cookie"
        data-text="Buy me a coffee"
        data-outline-color="#000000"
        data-font-color="#000000"
        data-coffee-color="#FFDD00"
      ></script>
    </div>
  </div>
</footer>
