name: Docs Publish
on:
  release:
    types:
      - published
  workflow_dispatch:
env:
  PYTHON_VERSION: "3.13"
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Install Dependencies
        run: uv sync --frozen --all-extras
      - name: Deploy Docs
        run: uv run mkdocs gh-deploy --force
