name: Nightly Testing

on:
  schedule:
    # Set with UTC time
    - cron: "0 5 * * *"
env:
  UV_CACHE_DIR: /tmp/.uv-cache
  PYTHON_VERSION: "3.12"
jobs:
  random-test-order:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        run: curl -LsSf https://astral.sh/uv/install.sh | sh
      - name: install Just
        uses: taiki-e/install-action@just
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ env.PYTHON_VERSION }}
      - name: Restore uv cache
        uses: actions/cache@v4
        with:
          path: ${{ env.UV_CACHE_DIR }}
          key: uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
          restore-keys: |
            uv-${{ runner.os }}-${{ hashFiles('uv.lock') }}
            uv-${{ runner.os }}
      - name: Install Dependencies
        run: |
          just install
          uv add --dev pytest-randomly
      - name: Test with pytest in random order
        run: just test-ci
      - name: Minimize uv cache
        run: uv cache prune --ci
