name: Testing

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python
      uses: actions/setup-python@v2.2.2
      with:
        python-version: 3.9
    - name: Install Poetry and add to path
      run: |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
        echo "${HOME}/.local/bin" >> $GITHUB_PATH
    - name: Install Dependencies
      run: |
        poetry install
    - name: Isort check
      run: |
        poetry run isort meilisearch_python_async tests --check-only
    - name: Black check
      run: |
        poetry run black meilisearch_python_async tests --check
    - name: Lint with flake8
      run: |
        # stop the build if there are Python syntax errors or undefined names
        poetry run flake8 meilisearch_python_async tests --count --select=E9,F63,F7,F82 --show-source --statistics
        # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
        poetry run flake8 meilisearch_python_async tests --count --exit-zero --max-complexity=10 --max-line-length=100 --statistics
    - name: mypy check
      run: |
        poetry run mypy meilisearch_python_async

  testing:
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9, "3.10.0-beta - 3.10.0"]
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2.3.4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2.2.2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Poetry and add to path
      run: |
        curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/install-poetry.py | python -
        echo "${HOME}/.local/bin" >> $GITHUB_PATH
    - name: Poetry configuration
      if: matrix.python-version == '3.10.0-beta - 3.10.0'  # Poetry installs are currently failing with the experimental installer on 3.10
      run: |
        poetry config experimental.new-installer false
    - name: Install Dependencies
      run: |
        poetry install
    - name: MeiliSearch (latest version) setup with Docker
      run: docker run -d -p 7700:7700 getmeili/meilisearch:v0.21.0rc5 ./meilisearch --no-analytics=true --master-key=masterKey
    - name: Test with pytest
      run: |
        poetry run pytest --cov=meilisearch_python_async --cov-report=xml
    - name: Upload coverage
      uses: codecov/codecov-action@v2.0.2
      with:
        fail_ci_if_error: true
